
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  width: 70vw;
  background-color: var(--cream);
  margin-left: 15%;
  margin-right:  15%;
  margin-top: 2%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-header{
  display: flex;
}

img{
  height: 90%;
  width: 95%;
  border-radius: 10%;
  box-shadow: darkgray;
}

h6{
  margin-top: 5%;
}

.desc{
  margin-left: 15%;
  margin-top: 2%;
}
.name{
  margin-top: 10%;
  font-size: x-large;
  font-weight: 700;
}

.info{
  margin-top: 5%;
  display: flex;
  gap: 4%;
}

.history{
  border: 1px solid black;
  border-radius: 5%;
  background-color: hsl(228, 19%, 95%);
  height: 1000px;
  width: 1800px;
}

.heading{
  margin-top: 20px;
  margin-left: 10px;
}

.para{
  margin-left: 10px;
}
span{
  font-weight: 500;
  font-size: medium;
}
.heading1{
  border: 1px solid black;
  background-color: hsl(228, 19%, 95%);
  border-radius: 10%;
  height: 45%;
}

.head{
  
  margin-left: 12px;
  margin-top: 30px;
  font-size: 30px;
}

.work{
  margin-top: 20px;
  margin-left: 12px;
}

.desc1{
  margin-top: 12px;
  margin-left: 12px;
  font-weight: 600;
  font-size: 20px;
}
